.sidebarMini {
    position: fixed;
    width: 400px;
    top: 25%;
    right: 0;
    background-color: $color-gray-4;
    z-index: 300;
    transform: translateX(100%);
    transition: .5s;
    border-left: 1px solid $color-gray-4;
    .sidebarMini__button {
        position: fixed;
        transform: translateX(-100%);
        transition: .5s;
        border-radius: 8px 0 0 8px;
        @include styleButton($color-black-0, $color-gray-4, $color-gray-4, $fs-5, $fw-0, $pd-2, $pd-3);
        &:focus{
            outline: none;
        }
    }
    .sidebarMini__content {
        width: 150px;
        padding: $pd-3;
        text-align: center;
        h2 {
           font-size: $fs-0;
        }
        .switch{
            width: 50px;
            height: 25px;
            margin: 0 $mg-0 + 5;
            position: relative;
            input{
                display: none;
                &:checked + .slider{
                    &::before{
                        transform: translateX(22px);
                    }
                }
            }
            .slider{
                background-color: $color-gray-6;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                border-radius: $boder-radius-1;
                cursor: pointer;
                &::before{
                    content: '';
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: $color-white-0;
                    display: inline-block;
                    position: absolute;
                    bottom: 4px;
                    left: 4px;
                    transition: all .5s;
                }
            }
        }
    }

    &.is-opened{
        transform: translateX(60%);
    }
}
